
#marker-container{

			margin: 20vh auto;
			width:230px;
			outline: $darkBlue solid 3px;
			

			.modal-content{
				border:none;
				border-radius:0;


				.modal-body{
					overflow-wrap:break-word;

					.link{
					margin-bottom: 3em;
					}
				}
			}

			.venue-image{
				background-position:center;
				background-size: cover;
				background-repeat: no-repeat;
				height:150px;



				&.modal-header{
					border-radius:0;
				}

			}

		}	

