.popular{

	.col-md-6{
		outline:red solid 1px;
		background-color:peachpuff;

	}

	#pop-content{

		h1{
		// font-size:$mobileDisplayFontSize;
		// letter-spacing:$displayLetterSpacing;
		// text-transform:$displayTexttransform;
		border-bottom: green solid 2px;
		padding-bottom: 5px;
		margin-top:5px;
		display: inline-block;

		}

		p{
			width:50%;
			font-style:italic;
		}	

		.flex-box{
			width:100%;
			display:flex;

		}

		ul{
			list-style-type:none;
			justify-content:space-around;
			li{
				
				// padding:0 1em 0 1em;

				i{
					// display:block;
				}
			}
		}

	}

//-------grid CSS-------//

	.grid-bla{

		&:after{
			content:"";
			display: block;
  			clear: both;
		}

  		.grid-item-bla, .grid-sizer-bla{
  			width: 50%;
  		}

  		.grid-item-bla{
			float:left;
			box-sizing:border-box;
			padding:0.5em;
			outline:1px green solid;

			.pop-info{

				display:flex;
				justify-content:around;
				text-align:center;

				p{
					display:inline-block;
					flex: 1 0 25%;
					padding-top: 0.2em;


				}

				i{
					flex:1 0 25%;
					padding-top: 0.5em;
				}
			}

			// &:nth-child(2){
			// 	height: 200px;
			// }

			.grid-content{

				border:1px red solid;

				img{
					background-position: center;
					background-size:cover;
					width:100%;
				}


			}

			&:nth-child(2){
				img{

					height:100px;

				}
			
				
			}

			&:nth-child(3){
				img{

					height:200px;

				}
			
				
			}

			&:nth-child(4){
				img{

					height:210px;

				}
			
				
			}

			&:nth-child(5){
				img{

					height:100px;

				}
			
				
			}








		}	


	}


}	


@media only screen and (min-width : 40em) {


    .popular {
        
        .grid-bla{
			
			.grid-item-bla, .grid-sizer-bla{
				width:33%;
			}


        }



    }
}


	





